html, body {
  margin: 0;
  padding: 0;
  font-size: large;
  font-family: sans-serif;
}

body {
  padding: 3rem 0;
}

* {
  user-select: none;
}

header {
  display: block;
  font-family: Georgia, serif;
  position: fixed;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-color: navy;
  top: 0;
  width: 100vw;
  left: 0;
  right: 0;
  margin: 0;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
}

button.button-show-modal {
  display: block;
  width: 100vw;
  padding: 1rem 0;
  font-size: 1rem;
  border: none;
  background: none;
  background-color: navy;
  color: white;
}

button.button-show-modal:hover {
  background-color: blue;
}

button.button-show-modal:active {
  background-color: navy;
}

input {
  display: block;
  width: 100%;
  margin: 0.25rem 0;
}
